{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <head>
        <meta charset="UTF-8">
        <title>Financepeer</title>
    </head>
    <body>
    <div id="react-app"></div>
    {% render_bundle 'main' %}
    </body>
</html>
